In [1]:
"the sum of 1+2 is {}". format(1+2)

'the sum of 1+2 is 3'

In [2]:
!pip install psycopg2

Looking in indexes: https://pypi.org/simple, https://pip.repos.neuron.amazonaws.com
Collecting psycopg2
  Downloading psycopg2-2.9.3.tar.gz (380 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 380.6/380.6 KB 8.8 MB/s eta 0:00:0000:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.3-cp38-cp38-linux_x86_64.whl size=485268 sha256=0088769447b9d0e78ab64d51975e9bf55568c659ab90cc4e83cc95d9d8076178
  Stored in directory: /home/ec2-user/.cache/pip/wheels/f3/dc/e2/b8e0e2142eff7fd680295ecd2d92e3bfbb90195523e43da161
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.

In [3]:
import pandas
import configparser
import psycopg2

In [4]:
config = configparser.ConfigParser()
config.read('config.ini')

host=config['myaws']['host']
db=config['myaws']['db']
user=config['myaws']['user']
pwd=config['myaws']['pwd']

In [5]:
conn = psycopg2.connect(host=host,
                       user=user,
                       password=pwd,
                       dbname=db)

In [6]:
sql_statemnet ="""
                select bathroom, bedroom
                from public.house_price_full
                where bathroom>2"""

In [8]:
cur=conn.cursor()

In [9]:
cur.execute(sql_statemnet)

In [10]:
cur.fetchone()

(3, 4)

In [11]:
for bathroom,bedrom in cur.fetchall()[:10]:
    print(bathroom,bedrom)

3 4
3 5
3 4
3 4
3 3
3 5
4 5
3 4
3 4
3 4

In [12]:
df=pandas.read_sql_query(sql_statemnet,conn)

df[:10]

   bathroom  bedroom
0         3        4
1         3        4
2         3        5
3         3        4
4         3        4
5         3        3
6         3        5
7         4        5
8         3        4
9         3        4